<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Noto Sans JP Font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Reset and Common CSS -->
    <link rel="stylesheet" href="/top/css/reset.css" />
    <link rel="stylesheet" href="/top/css/common.css" />

    <!-- Common CSS -->
    <link rel="stylesheet" href="/top/components/carousel/styles.css" />
    <link
      rel="stylesheet"
      href="/top/components/brief-info-carousel/styles.css"
    />
    <link rel="stylesheet" href="/top/components/tabs/styles.css" />
    <link rel="stylesheet" href="/top/components/products-tag/style.css" />
    <link
      rel="stylesheet"
      href="/top/components/brief-info-carousel/styles.css"
    />
    <!-- +++++ local css +++++ -->
    <!-- ここにCSSを記載してください -->
    <link rel="stylesheet" href="/top/css/top.css" />
    <!-- +++++ /local css +++++ -->

    <!-- +++++ local script +++++ -->
    <!-- ここにJavaScriptを記載してください -->
    <script src="/top/js/script.js" defer></script>
    <!-- +++++ /local script +++++ -->
    <!-- Common script -->
    <script src="/common/js/jquery-1.12.3.min.js"></script>
    <script src="/top/components/tabs/script.js" defer></script>
    <script src="/top/components/carousel/script.js" defer></script>
  </head>
  <body>
    <ul class="carousel brief-info-carousel">
      <li class="brief-info__wrapper">
        <div class="brief-info__container">
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-1.jpg"
                alt="product"
              />
            </div>
            <p class="brief-info__container__items__desc">
              お客様に安心してご来店いただけるよう、サービスを限定して営業しております。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-2.jpg"
                alt="product"
              />
            </div>

            <p class="brief-info__container__items__desc">
              スターバックスで楽しく働きながら成長を実感してみませんか。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
        </div>
      </li>
      <li class="brief-info__wrapper">
        <div class="brief-info__container">
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-1.jpg"
                alt="product"
              />
            </div>
            <p class="brief-info__container__items__desc">
              お客様に安心してご来店いただけるよう、サービスを限定して営業しております。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-2.jpg"
                alt="product"
              />
            </div>

            <p class="brief-info__container__items__desc">
              スターバックスで楽しく働きながら成長を実感してみませんか。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
        </div>
      </li>
      <li class="brief-info__wrapper">
        <div class="brief-info__container">
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-1.jpg"
                alt="product"
              />
            </div>
            <p class="brief-info__container__items__desc">
              お客様に安心してご来店いただけるよう、サービスを限定して営業しております。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-2.jpg"
                alt="product"
              />
            </div>

            <p class="brief-info__container__items__desc">
              スターバックスで楽しく働きながら成長を実感してみませんか。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
        </div>
      </li>
      <li class="brief-info__wrapper">
        <div class="brief-info__container">
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-1.jpg"
                alt="product"
              />
            </div>
            <p class="brief-info__container__items__desc">
              お客様に安心してご来店いただけるよう、サービスを限定して営業しております。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-2.jpg"
                alt="product"
              />
            </div>

            <p class="brief-info__container__items__desc">
              スターバックスで楽しく働きながら成長を実感してみませんか。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
        </div>
      </li>
      <li class="brief-info__wrapper">
        <div class="brief-info__container">
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-1.jpg"
                alt="product"
              />
            </div>
            <p class="brief-info__container__items__desc">
              お客様に安心してご来店いただけるよう、サービスを限定して営業しております。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-2.jpg"
                alt="product"
              />
            </div>

            <p class="brief-info__container__items__desc">
              スターバックスで楽しく働きながら成長を実感してみませんか。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
        </div>
      </li>
      <li class="brief-info__wrapper">
        <div class="brief-info__container">
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-1.jpg"
                alt="product"
              />
            </div>
            <p class="brief-info__container__items__desc">
              お客様に安心してご来店いただけるよう、サービスを限定して営業しております。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
          <a href="#" class="brief-info__container__items">
            <div class="brief-info__container__items__img">
              <img
                src="/top/images/brew-products/img-bottom-2.jpg"
                alt="product"
              />
            </div>

            <p class="brief-info__container__items__desc">
              スターバックスで楽しく働きながら成長を実感してみませんか。
            </p>
            <p class="brief-info__container__items__desc--green">
              ご協力のお願い
            </p>
          </a>
        </div>
      </li>
    </ul>
  </body>
</html>
