@import url("/store/css/store-detail/store-information.css");

.store-detail__wrapper {
  /* padding: 0 16px; */
  /* height: 100vh; */
  color: rgba(0, 0, 0, 0.87);
}
.store-detail__title {
  padding: 39px 16px 0 16px;
  font-weight: bold;
  font-size: 18px;
}

.store__header {
    
}

.store__header h2 {
  font-size: 2.6rem;
  line-height: 2rem;
  margin-bottom: 2.1rem;
}

.store__header p {
   font-size: 13.6px;
   line-height: 2.2rem;
   color: #FF1800;
}

/* content */
.store-detail__content {
  padding-top: 39px;
  padding-bottom: 32px;
  display: grid;
}

.store-detail__content-iframe {
  width: 100%;
  left: 0;
  height: 100%;
  min-height: 375px;
  max-height: 560px;
}

/* content description text */

.store-detail__content-desc {
  /* padding: 8px 16px 0 16px; */
  width: 100%;
  max-width: calc(var(--max-width-PC) + 2 * var(--padding-inline));
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-inline);
  padding-right: var(--padding-inline);
}

.online-store__notification-container {
  width: 100%;
  grid-row: 2;
  margin-bottom: 24px;
  margin-top: 16px;
  max-width: calc(var(--max-width-PC) + 2 * var(--padding-inline));
  margin:0 auto;
  padding-left: var(--padding-inline);
  padding-right: var(--padding-inline);
}

.store-detail__content--row {
  font-size: 1.3rem;
  flex-direction: column;
  line-height: 1.9rem;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.store-detail__content--row .store-detail__content-text {
  padding: 24px 0;
  line-height: 1.9rem;
  display: flex;
}

.phone-number__text {
  letter-spacing: 0.5px;
}

.store-detail__text-title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.1rem;
  flex: 0 0 20%;
  color: rgba(0, 0, 0, 0.3);
}

.no-flex {
  display: block !important;
}

.flex {
  display: flex !important;
}

.mobile-order__text {
  margin: auto;
  padding-left: 8px;
  font-size: 14px;
  color: #00754a;
}

.store-detail__content-text.no-flex > .store-detail__text-detail {
  margin-top: 16px;
  line-height: 22px;
}

.store-detail__payment-method {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(6, 32px);
}

.store-detail__payment-method .payment-method__item {
  max-width: 32px;
  height: auto;
}

.store-detail__text-notice {
  display: flex;
  padding-top: 8px;
  font-size: 11px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.store-type__icon {
  max-width: 40px;
  height: auto;
}
.store-type__text {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
}
.store-detail__store-type + .store-detail__store-type {
  padding-top: 16px;
}

/* .store-detail__content-text.custom-break-line br {
  content: "";
  display: block;
  margin-top: 5px;
} */

.store-detail__title .reseave-logo {
  display: inline-block;
  margin-left: 20px;
  width: 20px;
}

.flex-column {
  flex-direction: column;
}

/* responsive */
@media screen and (min-width: 640px) {
  .flex-row {
    flex-direction: row;
  }
  .store-detail__title .reseave-logo {
    /* display: inline-flex; */
    margin-left: 27px;
    /* margin-top: 4px; */
  }

  .store-detail__content--row .store-detail__content-text {
    line-height: 2.1rem;
  }

  .mobile-order__text {
    padding-left: 16px;
    font-size: 1.5rem;
  }

  .store-detail__content--row {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .store-detail__title {
    font-size: 24px;
    line-height: 35px;
    padding-top: 55px;
  }

  .store-detail__text-title {
    line-height: 1.9rem;
  }

  .store-detail__content {
    padding: 0 128px;
    padding-bottom: 49px;
    padding-top: 54px;
    column-gap: 64px;
    grid-template-rows: auto auto;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: var(--padding-inline);
    padding-right: var(--padding-inline);
    width: 100%;
    max-width: calc(var(--max-width-PC) + 2 * var(--padding-inline));
    margin:0 auto;
  }

  .store-detail__content-desc {
    padding: 0;
    padding-inline: 0;
    grid-row: 2;
  }

  .online-store__notification-container {
    padding-inline: 0;
    grid-row: 1;
    grid-column: span 2;
    margin-top: 0;
    margin-bottom: 0;
  }

  .store-detail__content-text {
    display: flex !important;
  }

  .store-detail__content-text.no-flex > .store-detail__text-detail {
    margin-top: 0;
    line-height: 2.4rem;
  }

  .store-detail__content-desc
    .store-detail__content--row:first-child
    > .store-detail__content-text {
    padding-top: 0;
  }
}
