<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>057</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Japanese font START -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- Japanese font END -->

  <!-- common CSS START -->
  <link rel="stylesheet" href="../common/reset.css" media="all">
  <link rel="stylesheet" href="../common/common.css" media="all">
  <!-- common CSS END -->

  <!-- component CSS START -->
  <link rel="stylesheet" href="./style.css" media="all">
  <!-- component CSS END -->

  <!-- local CSS START -->
  <style>
    body {
      margin: 50px 10px;
    }
    @media screen and (min-width:520px) {
      body {
        margin: 50px 100px;
      }
    }
  </style>
  <!-- local CSS END -->

</head>

<body>

  <a class="text-link-green text-bold" href="">
    続きを読む
    <span class="icon">
      <svg viewBox="0 0 12 12">
        <path d="M14.75,18H7.875A1.876,1.876,0,0,1,6,16.125V9.25A1.875,1.875,0,0,1,7.875,7.375h5.11a.5.5,0,1,1,0,1H7.875A.875.875,0,0,0,7,9.25v6.875A.875.875,0,0,0,7.875,17H14.75a.875.875,0,0,0,.875-.875V11a.5.5,0,0,1,1,0v5.125A1.876,1.876,0,0,1,14.75,18ZM14,6.5a.5.5,0,0,1,.5-.5h3a.5.5,0,0,1,.5.5v3a.5.5,0,0,1-1,0V7.72l-4.66,4.74a.5.5,0,0,1-.71-.7L16.307,7H14.5A.5.5,0,0,1,14,6.5Z" transform="translate(-6 -6)"/>
      </svg>
    </span>
  </a>

</body>

</html>