/* Modal CSS */

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 100;
  transition: all 0.25s ease-in-out;

  opacity: 0;
  visibility: hidden;
}

.modal__wrapper {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: 0;
  width: 800px;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  /* -webkit-transform: translateX(0); */
  /* -ms-transform: translateX(0); */
}

.show {
  opacity: 1;
  visibility: visible;
}

.slide-in {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
}

.modal__container {
  padding-left: 11.2rem;
  padding-right: 11.2rem;
}

.modal__content {
  display: flex;
  flex-direction: column;
  height: calc(var(--window-inner-height) - 96px);
  padding-bottom: 9.1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.modal__header {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 16%);
}

.modal__header button {
  display: flex;
  align-items: center;
  padding: 0.9rem;
}

.modal__header img {
  max-width: 1.4rem;
}

.modal__content__title {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  line-height: 3.2rem;
}

.modal__content__list {
  margin-top: 3.9rem;
  flex-grow: 1;
  margin-bottom: 3.2rem;
  overflow: auto;
}

.modal__content__list__item + .modal__content__list__item {
  margin-top: 1.6rem;
}

.modal__content__btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 128px;
  flex-shrink: 0;
}

.modal__content__btn {
  color: #fff;
  background: #00a862;
  box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
}

@media (max-width: 1024px) {
  .modal__header {
    height: 64px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .modal__content {
    height: calc(var(--window-inner-height) - 64px);
    padding-bottom: 2.4rem;
  }
}

@media (max-width: 873px) {
  .modal__wrapper {
    width: calc(100vw - 73px);
  }

  .modal__container {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }

  .modal__content__btn-container {
    padding-right: 16px;
  }
}
