<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>092</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Japanese font START -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- Japanese font END -->

  <!-- common CSS START -->
  <link rel="stylesheet" href="../common/reset.css" media="all">
  <link rel="stylesheet" href="../common/common.css" media="all">
  <!-- common CSS END -->

  <!-- component CSS START -->
  <link rel="stylesheet" href="./style.css" media="all">
  <!-- component CSS END -->

  <!-- local CSS START -->
  <style>
    body {
      margin: 50px 100px;
    }
    span + span {
      margin: 0 10px;
    }
  </style>
  <!-- local CSS END -->

</head>

<body>

  <span class="products-tag-01">限定<br>店舗</span>
  <span class="products-tag-01 products-tag-01--white"><span class="english">Online</span><br>限定</span>
  <span class="english products-tag-02">ROASTERY TOKYO</span>

</body>

</html>