@import url(/components/casourel.css);

/* Brew Products */
.brew-products {
  padding-top: 50px;
  padding-bottom: 35px;
  overflow-x: hidden;
  background-color: #006241;
}

.brew-products__title {
  margin-bottom: 36px;
  font-size: 1.5rem;
  font-family: SoDoSans;
  color: #fff;
}

.brew-products-carousel {
  display: flex;
  position: relative;
  padding-left: 16px;
  transition: all 0.4s;
  margin-bottom: 32.8px;
}

.brew-products-carousel > * {
  margin-right: 8px;
}

.brew-products__card {
  width: 167px;
  height: 248px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.brew-products__card__inner {
  position: relative;
}

.brew-products__card__inner::after {
  content: '';
  position: absolute;
  z-index: 5;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0) 50%
  );
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.brew-products__card__inner,
.brew-products__card__inner__img,
.brew-products__card__inner__img img {
  height: 100%;
  display: block;
}

.brew-products__card__inner__img img {
  object-fit: cover;
  width: 100%;
}

.brew-products__card__inner__info {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0.8rem;
  flex-direction: column-reverse;
}

.brew-products__card__inner__desc {
  font-size: 1.3rem;
}

.brew-products__card__inner__time {
  display: block;
  font-size: 1rem;
  margin-right: 0.5rem;
  font-family: SoDoSans;
  color: rgba(0, 0, 0, 0.7);
}

.carousel__item:not(.active) {
  opacity: 1;
  pointer-events: all;
}

/* Bottom */
.brew-products__bottom {
   padding-inline: 12px;
   display: grid;
   gap: 16px;
   grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.brew-products__bottom__items {
   /* background-color: red;   */
   display: flex;
   align-items: center;
}

.brew-products__bottom__items__img {
   flex-shrink: 0;
   margin-right: 15px;
}

.brew-products__bottom__items__img img {
   width: 77px;
   aspect-ratio: 1;
   object-fit: cover;
   border-radius: 100%;
}

.brew-products__bottom__items__desc {
   font-size: 1.3rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #fff;
}

@media screen and (min-width: 520px) {
  .brew-products  {
     background-color: unset;
     padding-top: 80px;
     padding-bottom: 90px;
  }
  .brew-products__title {
     color: rgba(0, 0, 0, 0.87);
     font-size: 2rem;
  }
 .brew-products__card {
    width: 224px;
    height: auto;
  }

  .brew-products__card__inner::after {
    opacity: 0;
    visibility: hidden;
  }

  .brew-products__card__inner__info {
    position: relative;
    padding: 1.2rem 1.4rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .brew-products__card__inner,
  .brew-products__card__inner__img,
  .brew-products__card__inner__img img {
    height: unset;
  }

  .carousel {
    padding-left: 50px;
  }

  .brew-products__bottom {
    gap: 30px;
    padding-inline: 75px;
 }

 .brew-products__bottom__items__img img {
  width: 115px;
}

.brew-products__bottom__items__desc {
 color: rgba(0, 0, 0, 0.87);
}  

 
}
