.online-store {
  padding-top: 80px;
  text-align: center;
}

.online-store__header-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.04px;
  font-family: 'SoDoSans';
}

.online-store__header-text {
  padding-top: 11px;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Noto Sans JP';
}

.online-store__content {
  padding-top: 30px;
  /* box-shadow: 0 5px 5px #EDEBE9; */
}

.online-store__content-carousel {
  padding-top: 46px;
  background-color: #d4e9e2;
}

.online-store__card {
  width: 150px;
  margin-right: 8px;
  margin-bottom: 54px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.card__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 330px;
}

.online-store__card__inner__text {
  text-align: start;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.online-store__card__inner__text__header {
  display: flex;
  flex-direction: column;
}

.card__inner__text-header {
  flex: 1;
  overflow: hidden;
  font-size: 11px;
  line-height: 17px;
}

.online-store__card__inner__text > .card__inner__text-footer > .english {
  font-size: 14px;
  padding-bottom: 8px;
  font-family: 'SoDoSans';
  font-weight: normal;
}

.online-store__card-button {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 7px;
  text-align: center;
  border-radius: 50px;
  width: 100%;
  padding: 5px 0;
  transition: all 0.2s ease;
}

.online-store__carousel {
  padding-left: var(--padding-inline);
}

.online-store__carousel--mobile {
  display: none;
}

@media screen and (max-width: 520px) {
  .online-store__carousel--pc {
    display: none;
  }

  .online-store__content-carousel + .online-store__content-carousel {
    margin-top: 4px;
  }

  .online-store__carousel--mobile {
    display: block;
  }

  .online-store__content-carousel-title {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 24px;
  }
  .online-store__card {
    margin-bottom: 40px;
  }
  .online-store__carousel {
    padding-left: 16px;
  }
}
