.stories {
  padding: 7.7rem 0 8.5rem;
  background-color: #F9F9F9;
}

.stories__header {
  margin-bottom: 2.8rem;
}

.stories__header svg {
  width: 14rem;
  fill: #18422B;
  margin-right: 4px;
}

.stories__link {
  position: absolute;
  right: 5.3%;
  top: 3.3rem;
}

.text-link-green .icon {
  margin-left: 4px;
}

.stories-carousel {
  padding-left: var(--padding-inline);
}

.stories-carousel > * {
  margin-right: 9px;
}

.story-item {
  width: 22.4rem;
  box-shadow: 0px  1px 3px rgba(0, 0, 0 , 0.16);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-bottom: 3px;
  overflow: hidden;
}

.story-item a {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.story-item__img {
  height: 22.4rem;
}

.story-item__img img {
  width: 100%;
  height: 22.4rem;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.story-item__content {
  flex: 1 1;
  padding: 1.2rem 1.4rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-item__content__desc {
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;

  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0 , 0.87);
}

.story-item__content__time {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  gap: 2%;
}

.story-item__content__time span {
  font: inherit;
  /* flex: 0 0 49%; */
  font-size: 1rem;
  line-height: 2.1rem;
  color: #00754A;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  letter-spacing: -0.6px;
}

.story-item__content__time .text-left {
  flex: 1;
  padding-right: 5px;
}

.story-item__content__time span:last-child {
  color: rgba(0, 0, 0 , 0.7);
}

@media screen and (min-width: 640px) {
  .stories__container .carousel-wrap .arrow-button--prev {
    left: 5.2%;
    top: 56%;
  }
  
  .stories__container .carousel-wrap .arrow-button--next {
    right: 5.2%;
    top: 56%;
  }
}

@media screen and (max-width: 767px) {
  .stories__link {
    position: static;
    margin-top: 1.8rem;
    padding: 0 1.6rem;
  }
}

@media screen and (max-width: 520px) {
  .stories {
    padding: 7.8rem 0 3.2rem;
  }

  .stories__header {
    margin-bottom: 3.3rem;
  }

  .story-item__img {
    height: 16.9rem;
  }

  .stories-carousel {
    padding-left: 16px;
  }

  .stories-carousel > * {
    margin-right: 8px;
  }

  .stories__container .carousel-wrap .arrow-button--prev {
    left: 3%;
    top: 50%;
  }
  
  .stories__container .carousel-wrap .arrow-button--next {
    right: 3%;
    top: 50%;
  }

  .story-item {
    width: 16.9rem;
  }

  .story-item__img img {
    width: 100%;
    height: 16.9rem;
  }

  .story-item__content {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 7px 1.1rem 1rem;
  }

  .story-item__content__desc {
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    -webkit-line-clamp: 3;
    color: #000;
  }

  .story-item__content__time {
    justify-content: flex-end;
    margin-bottom: 1px;
    padding-right: 5px;
  }
  
  .story-item__content__time span {
    flex: 1 1;
    font-size: 7px;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  .story-item__content__time span:first-child {
    display: none;
  }
  
}